/* make it display none */

.entry-content br {
    display: none;
}

.lfs-container .home-page-wrapper br,
.lfs-container .resources-page-wrapper br,
.lfs-container .inspiration-page-wrapper br {
    display: none;
}

/* Page - Home landing page */

.lfs-container .home-page-wrapper .home-container,
.lfs-container .resources-page-wrapper .resources-container,
.lfs-container .inspiration-page-wrapper .inspiration-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
}


.lfs-container .home-page-wrapper,
.lfs-container .resources-page-wrapper,
.lfs-container .inspiration-page-wrapper {
    margin: 0 40px;
}

.lfs-container .home-page-wrapper .home-container .week-item,
.lfs-container .assessment-page-wrapper .assessment-container .assessment-item,
.lfs-container .resources-page-wrapper .resources-container .resource-item,
.lfs-container .inspiration-page-wrapper .inspiration-container .topic-item {
    border: 1px solid #ddd;
    position: relative;
}

.lfs-container .home-page-wrapper .home-container p,
.lfs-container .assessment-page-wrapper .assessment-container p,
.lfs-container .resources-page-wrapper .resources-container p,
.lfs-container .inspiration-page-wrapper .inspiration-container p {
    display: none;
}

.lfs-container .home-page-wrapper .home-container .week-item > a,
.lfs-container .assessment-page-wrapper .assessment-container .assessment-item > a,
.lfs-container .resources-page-wrapper .resources-container .resource-item > a,
.lfs-container .inspiration-page-wrapper .inspiration-container .topic-item > a {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(30, 38, 51, 0.4);
    color: #fff;
    text-decoration: none;
}

.lfs-container .home-page-wrapper .home-container .week-item .week-info,
.lfs-container .assessment-page-wrapper .assessment-container .assessment-item  .assessment-info,
.lfs-container .resources-page-wrapper .resources-container .resource-item .resource-info,
.lfs-container .inspiration-page-wrapper .inspiration-container .topic-item .topic-info {
    color: #fff;
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    padding: 5px;
}


.lfs-container .home-page-wrapper .home-container .week-item .week-info > span.title > a > br,
.lfs-container .assessment-page-wrapper .assessment-container .assessment-item .assessment-info > .title > a > br {
    display: block;
}

.lfs-container .home-page-wrapper .home-container .week-item .week-info > span {
    display: block;
}

.lfs-container .home-page-wrapper .home-container div.week-item:nth-child(20) .week-info .title {
    line-height: 2.1rem;
    font-size: 2.1rem;
}
.lfs-container .home-page-wrapper .home-container div.week-item:nth-child(24) .week-info .title {
    line-height: 1.6rem;
    font-size: 1.6rem;
}

.lfs-container .home-page-wrapper .home-container .week-item .week-info .title {
    font-size: 2.3rem;
    line-height: 2.3rem;
    margin-top: 10px;
    font-weight: bold;
}

.lfs-container .home-page-wrapper .home-container .week-item .week-info .title > a {
    color: #ffffff;
    text-decoration: none;
}

.lfs-container .home-page-wrapper .home-container .week-item .week-info .sub-title,
.lfs-container .home-page-wrapper .home-container .week-item .week-info .date {
    display: inline-block;
    margin-top: 10px;
    line-height: 1.1rem;
    font-size: 1.1rem;
}

.lfs-container .home-page-wrapper .home-container .week-item .week-info .date {
    margin-left: 5px;
}

.lfs-container .home-page-wrapper .home-container div.week-item:nth-child(2) .week-info .date {
    font-style: italic;
    font-size: 1.3rem;
    margin-top: 15px;
}


/* Assessments */
.lfs-container .assessment-page-wrapper {
    margin: 30px 100px 0 100px;
}

.lfs-container .assessment-page-wrapper .assessment-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px;
}

/*
.lfs-container .assessment-page-wrapper .assessment-container .assessment-item {
    position: relative;
    border: 1px solid #ddd;
}

.lfs-container .assessment-page-wrapper .assessment-container .assessment-item .assessment-info {
    position: absolute;
    background-color: rgba(122, 122, 122, 0.7);
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    padding: 0 5px 5px 5px;
}
*/
.lfs-container .assessment-page-wrapper .assessment-container .assessment-item .assessment-info .title > a {
    color: #ffffff;
}


/* Page - FAQS */
.lfs-container .faqs-text,
.lfs-container .inspiration-text {
    margin: 30px 0;
}

.lfs-container .search-field {
    display: flex;
    justify-content: flex-end;
}

.lfs-container .search-field > br {
    display: none;
}

.lfs-container .search-field > input {
    margin-bottom: 0;
}

.lfs-container .faqs-page-wrapper,
.lfs-container .faqs-search-results {
    margin-top: 30px;
}

.lfs-container .faqs-search-results .search-message {
    text-align: center;
    font-size: 1.1rem;
}

.lfs-container  .faqs-page-wrapper .accordion-group .accordion-heading {
    font-size: 28px;
    font-weight: bold;
    line-height: 32px;
}

.lfs-container  .faqs-page-wrapper .accordion-group .accordion-sub-heading {
    font-size: 14px;
    line-height: 22px;
    font-weight: normal;
}


/* Page - Resources */

.lfs-container .resources-page-wrapper .resources-container .resource-item .resource-info .title,
.lfs-container .inspiration-page-wrapper .inspiration-container .topic-item .topic-info .title {
    font-size: 1.3rem;
}

.lfs-container .resources-page-wrapper .resources-container .resource-item .resource-info .title > a,
.lfs-container .inspiration-page-wrapper .inspiration-container .topic-item .topic-info .title > a {
    color: #fff;
}

.lfs-container .resources-page-wrapper {
    margin-top: 70px;
    margin-bottom: 70px;
}


/* Page - Inspiration */
.lfs-container .inspiration-page-banner .carousel-caption > h4 > a > span {
    display: block;
}

.lfs-container .inspiration-page-banner .slides img {
    opacity: 0.4;
}

.lfs-container .inspiration-page-banner .carousel-caption {
    background: none;
    top: 50%;
    transform: translateY(-50%);
    height: 150px !important;
    /*background-color: rgba(222, 232, 249, 0.5);*/
}

.lfs-container .inspiration-page-banner .carousel-caption > h4 {
    line-height: 150px;
    vertical-align: middle;
}

.lfs-container .inspiration-page-banner .carousel-caption > h4,
.lfs-container .inspiration-page-banner .carousel-caption > p {
    font-size: 4.0rem;
}

.lfs-container .inspiration-page-banner .carousel-caption > h4 > a,
.lfs-container .inspiration-page-banner .carousel-caption > p {
    color: #000;
    font-weight: 400;
}

.lfs-container .inspiration-page-banner .slides > li:nth-child(1),
.lfs-container .inspiration-page-banner .slides > li:nth-child(2),
.lfs-container .inspiration-page-banner .slides > li:nth-child(6),
.lfs-container .inspiration-page-banner .slides > li:nth-child(7),
.lfs-container .inspiration-page-banner .slides > li:nth-child(8),
.lfs-container .inspiration-page-banner .slides > li:nth-child(9) {
    text-align: center;
}

.lfs-container .inspiration-page-banner .slides > li:nth-child(10) .carousel-caption > h4 {
    float: right;
}

.lfs-container .inspiration-page-banner .slides > li:nth-child(9) .carousel-caption > h4 {
    font-size: 3.1rem;
}

.lfs-container .inspiration-page-banner .slides > li:nth-child(5) .carousel-caption > h4 {
    margin-top: 5px;
}

.lfs-container .inspiration-page-banner .slides > li:nth-child(5) .carousel-caption > h4 > a {
    font-size: 3.3rem;
    line-height: 3.3rem;
}


/* Page - Feedback */
.lfs-container .feedback-page-wrapper .gform_wrapper {
    width: 100%;
}

.lfs-container .feedback-page-wrapper .gform_wrapper > form {
    margin-left: 15%;
    margin-right: 15%;
    width: 70%;
}

.lfs-container .feedback-page-wrapper .gform_wrapper .gform_body input:first-child {
    width: 100%;
    padding: 15px 5px !important;
}



/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
    .lfs-container .home-page-wrapper .home-container,
    .lfs-container .resources-page-wrapper .resources-container,
    .lfs-container .inspiration-page-wrapper .inspiration-container {
        grid-template-columns: repeat(1, 1fr);
    }
    .lfs-container .home-page-wrapper,
    .lfs-container .resources-page-wrapper,
    .lfs-container .inspiration-page-wrapper {
        max-width: 343px;
        margin-left: auto;
        margin-right: auto;
    }
    .lfs-container .home-page-wrapper .home-container .week-item .week-info .title {
        line-height: 1.8rem;
        font-size: 1.8rem;
    }
    .lfs-container .home-page-wrapper .home-container .week-item .week-info .sub-title,
    .lfs-container .home-page-wrapper .home-container .week-item .week-info .date {
        line-height: 0.9rem;
        font-size: 0.9rem;
    }
    .lfs-container .home-page-wrapper .home-container div.week-item:nth-child(20) .week-info .title {
        line-height: 1.7rem;
        font-size: 1.7rem;
    }
    .lfs-container .home-page-wrapper .home-container div.week-item:nth-child(24) .week-info .title {
        line-height: 1.3rem;
        font-size: 1.3rem;
    }
    .lfs-container .assessment-page-wrapper {
        //margin: 30px 10px 0 10px;
        max-width: 468px;
        margin-left: auto;
        margin-right: auto;
    }
    .lfs-container .assessment-page-wrapper .assessment-container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 30px;
    }
    .lfs-container .assessment-page-wrapper .assessment-container .assessment-item .assessment-info .title {
        font-size: 25px;
    }
    .lfs-container .inspiration-page-banner .carousel-caption > h4,
    .lfs-container .inspiration-page-banner .carousel-caption > p {
        font-size: 1.1rem;
    }
    .lfs-container .inspiration-page-banner .slides > li:nth-child(7) .carousel-caption > h4 {
        font-size: 0.9rem;
    }
    .lfs-container .inspiration-page-banner .slides > li:nth-child(9) .carousel-caption > h4 {
        font-size: 0.8rem;
    }
    .lfs-container .inspiration-page-banner .slides > li:nth-child(5) .carousel-caption > h4 {
        margin-top: 55px;
    }
    .lfs-container .inspiration-page-banner .slides > li:nth-child(5) .carousel-caption > h4 > a {
        font-size: 1.0rem;
        line-height: 1.0rem;
    }
    .lfs-container .feedback-page-wrapper .gform_wrapper > form {
        margin: 0;
        width: 100%;
    }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
    .lfs-container .home-page-wrapper .home-container,
    .lfs-container .resources-page-wrapper .resources-container,
    .lfs-container .inspiration-page-wrapper .inspiration-container {
        grid-template-columns: repeat(2, 1fr);
    }
    .lfs-container .home-page-wrapper .home-container .week-item .week-info .title {
        line-height: 1.7rem;
        font-size: 1.7rem;
    }
    .lfs-container .home-page-wrapper .home-container .week-item .week-info .sub-title,
    .lfs-container .home-page-wrapper .home-container .week-item .week-info .date {
        line-height: 1.0rem;
        font-size: 1.0rem;
    }
    .lfs-container .home-page-wrapper .home-container div.week-item:nth-child(20) .week-info .title {
        line-height: 1.6rem;
        font-size: 1.6rem;
    }
    .lfs-container .home-page-wrapper .home-container div.week-item:nth-child(24) .week-info .title {
        line-height: 1.2rem;
        font-size: 1.2rem;
    }
    .lfs-container .assessment-page-wrapper {
        margin: 30px 30px 0 30px;
    }
    .lfs-container .assessment-page-wrapper .assessment-container .assessment-item .assessment-info .title {
        font-size: 20px;
        line-height: 25px;
    }
    .lfs-container .inspiration-page-banner .carousel-caption > h4,
    .lfs-container .inspiration-page-banner .carousel-caption > p {
        font-size: 2.0rem;
    }
    .lfs-container .inspiration-page-banner .carousel-caption {
        height: 150px !important;
    }
    .lfs-container .inspiration-page-banner .carousel-caption > h4 {
        line-height: 150px;
        vertical-align: middle;
    }
    .lfs-container .inspiration-page-banner .slides > li:nth-child(7) .carousel-caption > h4 {
        font-size: 1.9rem;
    }
    .lfs-container .inspiration-page-banner .slides > li:nth-child(9) .carousel-caption > h4 {
        font-size: 1.6rem;
    }
    .lfs-container .inspiration-page-banner .slides > li:nth-child(5) .carousel-caption > h4 {
        margin-top: 35px;
    }
    .lfs-container .inspiration-page-banner .slides > li:nth-child(5) .carousel-caption > h4 > a {
        font-size: 1.8rem;
        line-height: 1.8rem;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
    .lfs-container .home-page-wrapper .home-container .week-item .week-info .title {
        line-height: 1.3rem;
        font-size: 1.3rem;
        margin-top: 7px;
    }
    .lfs-container .home-page-wrapper .home-container div.week-item:nth-child(20) .week-info .title {
        line-height: 1.1rem;
        font-size: 1.1rem;
    }
    .lfs-container .home-page-wrapper .home-container div.week-item:nth-child(24) .week-info .title {
        line-height: 0.9rem;
        font-size: 0.9rem;
    }
    .lfs-container .home-page-wrapper .home-container .week-item .week-info .sub-title,
    .lfs-container .home-page-wrapper .home-container .week-item .week-info .date {
        line-height: 0.7rem;
        font-size: 0.7rem;
    }
    .lfs-container .home-page-wrapper .home-container div.week-item:nth-child(2) .week-info .date {
        font-size: 0.9rem;
    }
    .lfs-container .assessment-page-wrapper .assessment-container .assessment-item .assessment-info .title {
        font-size: 25px;
    }
    .lfs-container .assessment-page-wrapper {
        margin: 30px 30px 0 30px;
    }
    .lfs-container .inspiration-page-banner .carousel-caption > h4,
    .lfs-container .inspiration-page-banner .carousel-caption > p {
        font-size: 2.5rem;
    }
    .lfs-container .inspiration-page-banner .carousel-caption {
        height: 150px !important;
    }
    .lfs-container .inspiration-page-banner .carousel-caption > h4 {
        line-height: 150px;
        vertical-align: middle;
    }
    .lfs-container .inspiration-page-banner .slides > li:nth-child(7) .carousel-caption > h4 {
        font-size: 2.4rem;
    }
    .lfs-container .inspiration-page-banner .slides > li:nth-child(9) .carousel-caption > h4 {
        font-size: 2.0rem;
    }
    .lfs-container .inspiration-page-banner .slides > li:nth-child(5) .carousel-caption > h4 {
        margin-top: 25px;
    }
    .lfs-container .inspiration-page-banner .slides > li:nth-child(5) .carousel-caption > h4 > a {
        font-size: 2.3rem;
        line-height: 2.3rem;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
    .lfs-container .home-page-wrapper .home-container .week-item .week-info .title {
        line-height: 1.8rem;
        font-size: 1.8rem;
    }
    .lfs-container .home-page-wrapper .home-container div.week-item:nth-child(20) .week-info .title {
        line-height: 1.6rem;
        font-size: 1.6rem;
    }
    .lfs-container .home-page-wrapper .home-container div.week-item:nth-child(24) .week-info .title {
        line-height: 1.2rem;
        font-size: 1.2rem;
    }
    .lfs-container .home-page-wrapper .home-container .week-item .week-info .sub-title,
    .lfs-container .home-page-wrapper .home-container .week-item .week-info .date {
        line-height: 1.0rem;
        font-size: 1.0rem;
    }
    .lfs-container .inspiration-page-banner .carousel-caption > h4,
    .lfs-container .inspiration-page-banner .carousel-caption > p {
        font-size: 3.0rem;
    }
    .lfs-container .inspiration-page-banner .slides > li:nth-child(7) .carousel-caption > h4 {
        font-size: 2.7rem;
    }
    .lfs-container .inspiration-page-banner .slides > li:nth-child(9) .carousel-caption > h4 {
        font-size: 2.5rem;
    }
    .lfs-container .inspiration-page-banner .slides > li:nth-child(5) .carousel-caption > h4 {
        margin-top: 20px;
    }
    .lfs-container .inspiration-page-banner .slides > li:nth-child(5) .carousel-caption > h4 > a {
        font-size: 2.6rem;
        line-height: 2.6rem;
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .lfs-container .inspiration-page-banner .slides > li:nth-child(7) .carousel-caption > h4 {
        font-size: 3.3rem;
    }
    .lfs-container .inspiration-page-banner .slides > li:nth-child(9) .carousel-caption > h4 {
        font-size: 3.0rem;
    }
    .lfs-container .inspiration-page-banner .slides > li:nth-child(5) .carousel-caption > h4 {
        margin-top: 5px;
    }
    .lfs-container .inspiration-page-banner .slides > li:nth-child(5) .carousel-caption > h4 > a {
        font-size: 3.3rem;
        line-height: 3.3rem;
    }
}